* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
:root {
    --bg-color: white;
    --outline-color: rgb(195, 195, 195);
    --text-color: black;
    --color1: blueviolet;
    --color2: purple;
    --color3: pink;
    --color4: rgb(0, 122, 122);
}



button {
    padding: 8px 12px;
    background-color: var(--color3);
    border-radius: 6px;
    border: 1px solid var(--outline-color);
}
button a {
    color: var(--text-color);
}
a {
    text-decoration: none;
}



.nav-contents {
    width: 100%;
    background-color: var(--bg-color);
}
.nav-upper {
    height: 120px;
    width: 100%;
    background-color: var(--bg-color);
}
.home-btn {
    position: absolute;
    top: 42px;
    left: 50px;
    margin-right: auto;
}
.nav-upper h1 {
    font-size: 2.5rem;
}
.nav-lower {
    height: 70px;
    width: 100%;
    background-color: var(--bg-color);
    border: 1px solid var(--outline-color);
    justify-content: space-around;
    gap: 1.5rem;
    overflow-x: scroll;
    padding: 0 1rem 0 1rem;
    scrollbar-width: thin;
    scrollbar-color: var(--color3) var(--bg-color);
}
.nav-lower a {
    color: var(--color4);
    font-size: 1.4rem;
}




header {
    gap: 1rem;
}
.banner {
    background-image: url(assets/images/placeholder-image2.jpg);
    background-size: cover;
    background-position: center;
    height: 440px;
    width: 100%;
}
header .textbox {
    padding: 3rem 2rem 2rem 1rem;
    gap: 10px;
    text-align: center;
}
header .textbox * {
    /* color: var(--bg-color); */
}
header .textbox h1 {
    font-size: 3rem;
}
header .textbox p {
    font-size: 1.4rem;
}



#species-board {
    display: grid;
    place-items: center;
    padding: 3rem;
    gap: 3rem;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.species-card {
    border-radius: 10px;
    border: 1px solid var(--outline-color);
    aspect-ratio: 1/1;
    width: 365px;
    padding: 1.5rem;
    align-items: start;
    justify-content: space-between;
}
.species-card .title {
    font-size: 1.5rem;
}
.species-card .picture-window {
    height: 55%;
    width: 100%;
    background-color: var(--color3);
    border-radius: 10px;
}

/* pictures for each species-card start */

#mammals .picture-window {
    background-image: url(assets/images/placeholder-image1.jpg);
    background-size: cover;
    background-position: center;
}

#birds .picture-window {
    background-image: url(assets/images/placeholder-image1.jpg);
    background-size: cover;
    background-position: center;
}

#reptiles .picture-window {
    background-image: url(assets/images/placeholder-image1.jpg);
    background-size: cover;
    background-position: center;
}

#amphibians .picture-window {
    background-image: url(assets/images/placeholder-image1.jpg);
    background-size: cover;
    background-position: center;
}

#fish .picture-window {
    background-image: url(assets/images/placeholder-image1.jpg);
    background-size: cover;
    background-position: center;
}

/* pictures for each species-card end */



footer {
    background-color: var(--color3);
    height: 120px;
    text-align: center;
}


@media screen and (max-width: 750px) {
    .home-btn {
        left: 25px;
    }
    .nav-upper h1 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 500px) {
    .home-btn {
        top: 48px;
    }
    .home-btn img {
        width: 25px;
    }
    .nav-upper h1 {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 460px) {
    #species-board {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .species-card {
        width: 350px;
    }
}